@media screen and ( max-width:576px){
    .header-main{
        width: 90%;
        margin: 0px auto 10px;}
        .navbar {
          margin-top: 5%;
            }


        ul{
            gap: 1rem;
        }
        .header-main-child{
            width: 100%;
            margin: 0% auto ;
            display: flex;
            flex-direction: column;

    }
    .one-child{
        width: 100%;
    }
    .two-child{
        width: 100%;
        margin: 0px 10px;
        

    }
    /* .image{
        width: 70%;
       margin-top: 12px;
       
       
    } */
    .title{
        font-size: 1.6rem;
    text-align: center;
        margin: 25px auto;
    }
    .btn-div{
       display: flex;
       justify-content: center;
       align-items: center;
        padding:0px 2px ;
    }
    .btn-1{
        margin:0px 12px ;
        width: 130px;
        }
    .btn-2{
        width: 130px;
        margin:0px 12px ;
    }
    .paragraph{
        font-size: 0.7rem;
        letter-spacing: 0.7px;
        line-height: 0.8rem;
        text-align: center;
    
    }
    .section-one, .section-two, .section-three, .section-four, .section-five, .section-six, .header-main{
        width: 90%;
    
    }
    .child-section{
        margin-bottom: 20px;
    }
    .para{
        font-size: 0.7rem;
        word-spacing: 0.7px;
        letter-spacing: 0.6px;
    }
    .h22{
        margin: 12px auto;
        font-size: 1.6rem;
        font-weight: 600;
        margin-left: 0px;
    }
    .section-container{
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin: 6% auto;
      
    }
    .pic{
      margin: 6% auto;
      width: 100%;

        }
        .section-two{
           flex-direction: column;
           margin-top: 60%;
          }
          .h4{
            font-size: 1.6rem;
            text-align: center;
                margin: 25px auto;
          }
            
        
          .banner-part p{
           text-align: center;
           width: 100%;
           
          }
          .image-bg{
            width: 90%;
          }
          .image-bg img{
            border-radius: 1.2rem;
          }
          .banner-part-1{
            width: 90%;
          
          } 
          .btn-run{
          
            background-color: red;
            padding: 2%;
            border-radius: 40px;
            margin:15px 15px 30px 15px;
            width: 150px;
            
          } 
          .section-six{
            width: 90%;
            margin: 6% auto;
          }
          .picture-section div{
            width: 316px;
            height: 272px;
            border-radius: 18px;
            }
            .picture-section{
              display: grid;
              grid-template-columns: 1fr;
              gap: 1%;
            
            }
            .section-seven{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 5% auto;
                width: 90%;
              }
              .sec-1 ,.div-1 ,.div-2{
                width: 90%;
                margin: 5% auto;
            
              }
              .lal{
                margin-top: 10%;
                font-size: 4.5rem;
                
              }
              .sec-2{
                display: flex;
                flex-direction: column;
                width: 100%;
              }
              .section-five{
                width: 90%;
                margin: 5% auto;
                flex-direction: column;
                gap: 4%;
              }
              .search-boxes{
                width: 90%;
                margin: 5% auto;
              }
              .banner-part .h1{
                font-size: 2rem;
              }
              .image-section{

                width: 90%;
                margin: 2% auto;
              }
              .bg-div-1{
                width:50%;
                height:128px;
                }
              .img-1{
                width:100%;
                height: 100%;
               }
              .bg-div-2{
                width:50% ;
                height: 128px;
               }
              .img-2{
                width:100%;
                height: 100%;
               }
              .bg-div-3{
                width:0px ;
                height:0px;
               
              }
              .img-3{
                width:0px ;
                height:0px;
              }
            
              .bg-div-4{
                width:55%;
                height:128px;
               }
              .img-4{
                width:100% ;
                height: 100%;
               }
              .bg-div-5{
                width:45% ;
                height: 128px;
              }
              .img-5{
                width:100% ;
                height: 100%;
              }
              .bg-div-6{
                width:0px ;
                height:0px;
              }
              .img-6{
                width:0px ;
                height: 0px; }
        
      
       

    
}
   