*{
    margin: 0px;
   background-color: black;
}
.color {
    color:rgba(255, 255, 255, 0.5);
   
}
.col{
    color:aliceblue; 
    text-decoration: none;
}

.heading-part{
    width: 100%;
   
}
.header-main{
    width: 80%;
    margin: 0% auto 10%;
}
.navbar {
width: 100%;
padding: 3% auto 6%;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 5%;

}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header-main-child{
    display: flex;
    justify-content: space-between;
  align-items: center;
  gap:30%;
    

}
.one-child{
    width: 50%;
 

}
.two-child{
  background-image: url(images/background.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
/* .image{
    width: 100%;
    margin-top: -20%; 
    margin-left: 10%; }  */
.btn-div{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.btn-1{
    background-color: red;
    padding: 2.5%;
    border-radius: 40px;
    margin:0px 15px ;
    width: 180px;
    
    

}
.btn-2{
    padding: 2.5%;
    border-radius: 40px;
    background-color: black;
    width: 180px;
}
/* .d-500{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 70%;
    margin-top: -250px;
    
  
   
}
.b-350{
   
    width: 50%;
    height: 80px;
    display: flex;
align-items: center;
justify-content: center;
gap: 10px;
margin-top:-50%;
margin-left: -15%;

    
} */
.b-2{
    height: 40px;

}
.b-1{
    background-color: red;
    width: 25px;
    height:25px;
    border-radius: 50px;
    /* padding-top:20% ; */
    margin-top: 25px;
 
   
}
/* header font style change */
.logo{
    color: brown;
    font-size: 2.2rem;
}
.title{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 40px;
    width: 100%;
}
.paragraph{
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1rem;
    margin: 10px 0px;
    width: 100%;

}
h5{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0px;
}
.h33{
    font-size: 1.6rem;
    font-weight: 600;margin: 2px;
}
.para{
    width: 90%;
    margin: 0px;
    font-size: 0.8rem;
}
.h22{
    margin-bottom: 0.6rem;
    font-size: 220%;
    font-weight: 700;
    margin-left: -70px;
}
.para{
    word-spacing: 0.8px;
    letter-spacing: 0.6px;
    margin-top: 0.9rem;
}
.h5{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
}
.article p{
    font-size: 0.5rem;
    word-spacing: 0.5px;
    letter-spacing: 0.8px;
}
.article{
    text-align: center;
    margin-top: 10px;
 }

/* section er main part styling */
.main-part{
width: 100%;

}
.section-one{
    width: 80%;
    margin: 0% auto;

}
.child-section{
    text-align: center;
    margin-bottom: 40px;
}
.section-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
}
.pic{
    width: 100%;
    border-radius:40%;
    }
.image-2{
    width: 100%;
   
}
.pic img{
    border-radius: 60%;
}
/* run an extra mile css style */
  .banner-part p{
    font-size: 0.7rem;
    word-spacing: 0.5px;
    letter-spacing: 0.8px;
    margin: 18px 0px;
  }
  .h4{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .section-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 8% auto ;
  }
  .image-bg{
    width: 50%;
  }
  .image-bg img{
    width: 100%;
    border-radius: 1.6rem;
  }
  .banner-part-1{
    width: 50%;
  
  } 
  .btn-run{
  
    background-color: red;
    padding: 2%;
    border-radius: 40px;
    margin:10px 15px ;
    width: 150px;
    
  } 
  .banner-title .h4{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 8px;

  }
  .banner-title{
    font-size: 0.8rem;
    word-spacing: 0.5px;
    letter-spacing: 0.8px;
    margin: 5% auto;
  }
  .section-three{
    width:80% ;
    margin: 5% auto;
  }
  /* .imggea{
    display: flex;
    flex-direction: column;
    gap: 10%;
  } */
 .images-part-2{
  
  display: flex;
gap: 1%;
margin-top: 10px 0px;
 }
   
 .images-part{
 
display: flex;
gap: 1%;
  }
  .im-div-1{
     background-image: url(exercise1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     width: 323px;
     height: 201px;
     background-color:rgba(6, 255, 210, 0.5) ;
     
  }
  .im-div-2{
    background-image: url(images/exercise2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 520px;
    height: 201px;
 }
 .im-div-3{
  background-image: url(images/exercise3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 290px;
  height: 201px;
}
.im-div-4{
  background-image: url(images/exercise4.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 435px;
  height: 201px;
}
.im-div-5{
  background-image: url(images/exercise5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 288px;
  height: 201px;
}
.im-div-6{
  background-image: url(images/exercise6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 347px;
  height: 201px;
}

  /* .images-part img{
    width: 100%;
    
  } */
  .im-div-1{
    width: 25%;
  }
  /* section-four er style */
  .section-four{
    width: 80%;
    margin: 15px auto;
  }
  .banner-part .h1{
font-size:3rem;
margin: 15px 0px;
  }
  .banner-part{
   margin:0% 25% 10% 25% ;
  }
  .banner-part p{
    font-size: 0.8rem;
    word-spacing: 0.5px;
    letter-spacing: 0.8px;
  }


  /* section-five er style */
  .section-five{
    width: 80%;
    margin: 15px auto;
    display: flex;
    gap: 15%;
  }
  .bmi-calculator-chart{
    width: 100%;
    display: grid;
    place-items: center;
  }
  .bmi-calculator-chart h4, .good{
    font-size: 1.8rem;
  }
  .bmi-calculator-chart table{
    border-collapse: collapse;
    margin-top: 10px auto;
  }

  table, th,td{
    border: 1px solid rgb(95, 94, 94);
    
  }
  th,td{
    padding: 13px ;
  }
  
  .input-1 input{
    width: 50%;
    background-color: rgb(61, 60, 60);
    padding: 10px;
    border-radius: 4px;
    border: none;

  }
  .input-1{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    margin-bottom: 8px;
    
  }
  .input-2{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    margin-bottom: 8px;
  }
  .input-2 select,option{
    width: 100%;
    background-color: rgb(61, 60, 60);
    padding: 10px;
    border-radius: 4px;
    border: none;
  }
/* section six er styles */
.section-six{
  width: 80%;
  margin: 10% auto;
}
.title-part-2 h3{
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 8px;
  margin: 8px auto;

}
.title-part-2 p{

  font-size: 0.8rem;
    word-spacing: 0.5px;
    letter-spacing: 0.8px;
    margin-top:0px;
}
.title-part-2{
  text-align: center;
  width: 100%;
  margin-top: 45px;
}
.picture-part-2{
  display: flex;
  gap: 8px;
  height: 120px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */

}
.pic-1 img{ 
width: 100%;
height: 80%;
}
.pic-2 img{ 
  width: 100%;
  }
  .pic-3 img{ 
    width: 100%;
    height:85%; 
    }
    .pic-4 img{ 
      width: 100%;
      }
      .pic-5 img{ 
        width: 100%;
        height: 75%;
        }
        .pic-6 img{ 
          width: 100%;
          height: 75%;
          }
        
.pic-2,
.pic-3,
.pic-4,
.pic-5,
.pic-6, .pic-1{
  width:33%;
  height:100%;
}
.picturess{
  display: flex;
  gap: 8px;
  margin-top: 8px;
height: 110px;
}
